//*********  background-block ************//
.region-content-top {
    padding: 80px 0;
    background-position: center right;
    background-size: cover;
   /* background-attachment: fixed;*/
    position: relative;
    background-image: url(../images/photo-04.jpg);
    .block-title{
        color: white;
    }
}
#block-views-block-testimonials-block-1-2{
 background-color: rgba($brand-primary, 0.5);
}
