.views_slideshow_cycle_main {

    .views_slideshow_cycle_teaser_section {
        width: 100% !important;
    }
    .views_slideshow_cycle_slide {
        width: 100% !important;
    }
}

.views_slideshow_controls_text {

    a {
        text-indent: -300px;
        display: block;
        width: 34px;
        height: 50px;
        @media (min-width: $screen-sm-min) {
            width: 44px;
            height: 60px;
        }
        overflow: hidden;
        color: rgba(white, 0.6);
        font-family: FontAwesome;
        transition: padding 0.3s;
        &:before {
            font-size: 60px;
            line-height: 46px;
            @media (min-width: $screen-sm-min) {
                font-size: 100px;
                line-height: 56px;
            }
            text-indent: 0;
            display: block;
        }
        &:hover,
        &:focus {
            color: white;
            outline: none;
            text-decoration: none;
        }
    }
    .views_slideshow_controls_text_previous {
        a {
            padding-left: 10px;
            &:hover {
                padding-left: 0;
                padding-right: 10px;
            }
            &:before {
                content: "\f104";
            }
        }
    }
    .views_slideshow_controls_text_pause {
        display: none;
    }
    .views_slideshow_controls_text_next {
        a {
            padding-right: 10px;
            &:hover {
                padding-left: 10px;
                padding-right: 0;
            }
            &:before {
                content: "\f105";
            }
        }
    }
    .views_slideshow_controls_text_previous {
        position: absolute;
        top: 10px;
        right: 50px;
        @media (min-width: $screen-sm-min) {
            top: 25%;
            left: 0;
            right: auto;
        }
    }
    .views_slideshow_controls_text_next {
        position: absolute;
        top: 10px;
        right: 0;
        @media (min-width: $screen-sm-min) {
            top: 25%;
            right: 0;
        }
    }
}
