    <div class="center">
      <a href="{{ url('<front>') }}">
         <div id="top_part"></div>
      </a>
    </div>

<div id="auth_box" class="login">




  <div id="middle_part">
       {{ page.content }}
  </div>


</div>
