//== Custom variables


//== Account menu
$account-menu-color: $gray-light;
$account-menu-active-color: $gray;


//== Footer
$footer-text-color: $gray;
$footer-bg-color: $gray-dark;
$footer-link-color: #666;
$footer-link-hover-color: #666;


//== IMAGE settings
img {
    max-width: 100%;
    height: auto;
}
